<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @advancement.user_id %>
</p>

<%= link_to 'Edit', edit_advancement_path(@advancement) %> |
<%= link_to 'Back', advancements_path %>
